<!DOCTYPE html>
<html>

<body>
                <h1>Login</h1>
                    <form method="post" action="/item/auth">
						User Name:
                        <input type="text" name="name"><br>
                         Password:
                        <input type="password" name="prop"><br>
                        <input type="submit" value="Login">
                    </form>
                <h1>Admin Login</h1>
                    <form method="post" action="/item/authAdmin">
                            User Name:
                            <input type="text" name="name"><br>
                            Password:
                            <input type="password" name="prop"><br>
                            <input type="submit" value="Login">
                    </form>
</body>

</html>
